<!doctype html>
<html class="no-js" lang="en">
<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ SITEURL}}/theme/css/foundation.min.css" media="all">
        <script type="text/javascript" src="{{ SITEURL }}/theme/js/modernizr.js"></script>
        <link href='https://fonts.googleapis.com/css?family=Exo+2:400,300,700,300italic,400italic,700italic,900,900italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/lamboz.css" media="all">
        {% block head %}
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        <meta charset="utf-8" />
        {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
        {% endif %}
        {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
        {% endif %}
        {% if FEED_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
        {% endif %}
        {% if FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}
        {% if CATEGORY_FEED_ATOM and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
        {% endif %}
        {% if CATEGORY_FEED_RSS and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
        {% endif %}
        {% if TAG_FEED_ATOM and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
        {% endif %}
        {% if TAG_FEED_RSS and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
        {% endif %}
        {% endblock head %}
</head>
<body>

    <div class="main-menu">
      <div id="sitelinks">
        {% for title,link in LINKS %}
        <a href="{{ link }}">{{ title }}</a>&nbsp;
        {% endfor %}

      </div>

      <div id="soclinks">

        {% for contact in CONTACTS %}
        {{ contact }}
        {% endfor %}
        {% for link,image in SOCLINKS %}
        <a href="{{ link }}"><img src="/theme/img/{{ image }}.svg" width="30px"></a>&nbsp;
        {% endfor %}
      </div>
    </div>

    {% block pageheader %}
    <div class="hp-header">
        <div class="page-header">
            <div class="content-header">
                <div id="title-block">
                <p class="blurb"><img src="{{ SITELOGO }}"></p>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    <div class="content">
        <div class="data-holder">
        <div class="row">
           <div class="large-12 content-column column">
                {% block content %}
                {% endblock %}
            </div>

         </div>
    </div>
</div>
<div class="bottom-menu">
  <div id="timer">
      <p id="countdown"></p>
  </div>
{% if TRADEMARK_TEXT  %}
  <div id="trademark">
    {{ TRADEMARK_TEXT }}
  </div>
{% endif %}
</div>
<script>
// Set the date we're counting down to
var countDownDate = new Date("{{ EVENTDATE }}").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

    // Get todays date and time
    var now = new Date().getTime();
    
    // Find the distance between now and the count down date
    var distance = countDownDate - now;
    
    // Time calculations for days, hours, minutes and seconds
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
    // Output the result in an element with id="demo"
    document.getElementById("countdown").innerHTML = "Початок через: " + days + ":" + ("0" +hours).slice(-2) + ":"
    + ("0"+ minutes).slice(-2) + ":" + ("0"+seconds).slice(-2);
    
    // If the count down is over, write some text 
    if (distance < 0) {
        clearInterval(x);
        document.getElementById("countdown").innerHTML = "EXPIRED";
    }
}, 1000);
</script>
</body>
</html>
